BasedOnStyle: Google
IndentWidth: 2
ColumnLimit: 80

# Brace placement
BreakBeforeBraces: Custom
BraceWrapping: 
  AfterStruct: false
  AfterFunction: false

# Keep designated initializers on separate lines
BreakConstructorInitializers: BeforeComma
PackConstructorInitializers: Never


# Initializer list formatting
AlignAfterOpenBracket: Align
BinPackArguments: false
BinPackParameters: false



# This is the key setting for nested initializers
Cpp11BracedListStyle: false